<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650120348599-chlth1v3ovafftvspbj3r5funv7308o9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650120348599-chlth1v3ovafftvspbj3r5funv7308o9</string>
	<key>API_KEY</key>
	<string>AIzaSyCHNgKAR42HhWHrUB09SxT82UA7oyRVrp4</string>
	<key>GCM_SENDER_ID</key>
	<string>650120348599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webegy.entaelnegm</string>
	<key>PROJECT_ID</key>
	<string>enta-elnegm</string>
	<key>STORAGE_BUCKET</key>
	<string>enta-elnegm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650120348599:ios:2b46e53710ab060dc5de32</string>
	<key>DATABASE_URL</key>
	<string>https://enta-elnegm.firebaseio.com</string>
</dict>
</plist>