<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991952097357-70d46vcbenc12a3381n0256kuplpgd1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991952097357-70d46vcbenc12a3381n0256kuplpgd1s</string>
	<key>API_KEY</key>
	<string>AIzaSyAPGAfOs-8SZvCDni68MiGyxg-_-fANPYU</string>
	<key>GCM_SENDER_ID</key>
	<string>991952097357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webegy.entaelnagm</string>
	<key>PROJECT_ID</key>
	<string>enta-elnagm</string>
	<key>STORAGE_BUCKET</key>
	<string>enta-elnagm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991952097357:ios:4eb4669460feaa18688c04</string>
	<key>DATABASE_URL</key>
	<string>https://enta-elnagm.firebaseio.com</string>
</dict>
</plist>