<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"Profile"|translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" expanded="end">
        <ion-icon slot="icon-only" name="lock"></ion-icon>
      </ion-button>    
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="talent-profile">
    <div class="cover"></div>
    <div class="buttons-area">
      <div class="row">
        <div class="col col-xs-3 text-center">      
          <a class="btn" routerLink="/user-area/profile" >{{"Profile"|translate}}</a>
        </div>
        <div class="col col-xs-6"></div>
        <div class="col col-xs-3 text-center">      
          <a class="btn" routerLink="/user-area/application" >{{"Talent"|translate}}</a>
        </div>
      </div>
    </div>
    <img class="photo" [src]="data.user?.photo.md"/>
    <div class="details">
      <h2 class="text-center">{{data.user?.name}}</h2>
      <h4 class="text-center"><a>{{data.category?.title}}</a></h4>
      <p  class="text-center"><span class="city badge text-center">{{data.country?.name}}</span> / {{data.age|number:'2.0-0'}} year</p>
       </div>
       <hr/>
      <p>{{data.talent_des}}</p>
      <video width="100%" *ngIf="data.user?.talent_file!=null"  controls>
        <source [src]="video" type="video/mp4">
        <source [src]="video" type="video/ogg">
        Your browser does not support HTML5 video.
    </video>
   
  </div>
</ion-content>
