<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Application"|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" expanded="end">
        <ion-icon slot="icon-only" name="lock"></ion-icon>
      </ion-button>    
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<app-header title="Status"></app-header>

<ion-content>
  <div class="talent-profile">
    <div class="cover"></div>
    <div class="buttons-area">
      <div class="row">
        <div class="col col-xs-3 text-center">      
          <a class="btn" routerLink="/user-area/profile" >{{"Profile"|translate}}</a>
        </div>
        <div class="col col-xs-6"></div>
        <div class="col col-xs-3 text-center">      
          <a class="btn" routerLink="/user-area/application" >{{"Status"|translate}}</a>
        </div>
      </div>
    </div>
    <img class="photo"  [src]="data.user?.photo.md"/>
     <div class="details">
      <ion-card class="status-card">
        <ion-card-header>
          <ion-card-subtitle class="text-center">{{"My talent status"|translate}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <h3 class="text-center">
            <i class="fa" 
            [class.fa-spinner.fa-spin]="status.status==0" 
            [class.fa-info-circle]="status.status==2" 
            [class.fa-times]="status.status==3" 
            [class.fa-thumbs-up]="status.status==1" 
            [class.fa-at]="status.status==-2" 
            ></i>
          </h3>
          
          <p class="text-center" style="text-align: center; color: #000;" >{{status.name}}</p>
          <p class="text-center" style="text-align: center; color: #000;" >{{status.message}}</p>
          <p class="text-center" *ngIf="status.status==-2" ><a style="width:100%" (click)="resendEmail()" class="btn btn-primary">اعد ارسال رسالة التفعيل</a></p>

        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="status.status==-1 || status.status==2">
        <ion-card-header>

          <ion-card-title class="text-center">{{"Upload File"|translate}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="text-center">
          <!-- <input type="file" #fileinput placeholder="Select your file" (change)="onFileChange($event)"> -->
          <!-- <a class="btn btn-primary" (click)="captureVideo()">Video</a>
          <a class="btn btn-primary" (click)="captureAudio()">Audio</a> -->
          <!-- <a class="btn btn-primary" (click)="presentActionSheet()">File</a> -->
          <video  #videoplayer style="max-width: 100%;height: 300px;" controls="controls" controlsList="nodownload" preload="metadata" poster="assets/icon/favicon.png" webkit-playsinline="webkit-playsinline" class="videoPlayer">
            </video>

          <div class="progress"  *ngIf="submitted"><div [ngStyle]="{'width':talent.progressValue +'%'}" style="background: #8d30f0;">{{talent.progressValue}}%</div></div>
          <!-- <ion-progress type="determinate" [value]="progressValue" buffer= "0.5" reversed="true" color="primary"></ion-progress> -->
          <hr/>
          <ion-button (click)="presentActionSheet()" >
            {{"Select ..."|translate}}
          </ion-button>
          <ion-button [disabled]="submitted" (click)="onSubmit()" *ngIf="attach.name">
            {{"Upload"|translate}}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>  
</div>
</ion-content>
