<ion-header>
  <ion-toolbar>
    <ion-title>user-area</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- <ion-tabs>
   <ion-tab-bar slot="top">
     <ion-tab-button tab="register">
       <ion-icon name="flash"></ion-icon>
       <ion-label>Register</ion-label>
     </ion-tab-button>
     <ion-tab-button tab="login">
       <ion-icon name="apps"></ion-icon>
       <ion-label>login</ion-label>
     </ion-tab-button>
     <ion-tab-button tab="profile">
       <ion-icon name="send"></ion-icon>
       <ion-label>Profile</ion-label>
     </ion-tab-button>
   </ion-tab-bar>
 </ion-tabs> -->
  <ion-router-outlet></ion-router-outlet>
</ion-content>
