<!-- <ion-header>
  <ion-toolbar>
    <ion-title>{{"Login"|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/register">{{"Register"|translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<app-header title="Login"></app-header>

<ion-content>
  <img src="/assets/icon/favicon.png" class="logo"/>
  <ion-card>
    <ion-card-header class="text-center">
      <ion-card-title>{{"Login"|translate}}</ion-card-title>
      <ion-card-subtitle>{{"login-subtitle"|translate}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
           <ion-label>{{"Your email"|translate}}<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="email" type="email"  class="form-control"></ion-input>
           <ion-label  >{{"Password"|translate}} <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="password" #pass type="password" class="form-control"></ion-input>
          <ion-icon slot="end" (click)="pass.type=='text'?pass.type='password':pass.type='text'" name="eye" class="show-icon"></ion-icon>
         <ion-button  type="submit" [disabled]="form.invalid || loading">
            {{"Login"|translate}}
        </ion-button>
        <div class="row">
          <div class="col col-xs-6"><a  (click)="resetPassword()">{{"Forgot Password"|translate}}</a></div>
          <div class="col col-xs-6"><a routerLink="/register">{{"Register"|translate}}</a></div>
        </div>

        </form>
    </ion-card-content>
  </ion-card>
</ion-content>
