a{
    color:var(--ion-color-secondary) ;
    :hover{
        color:#fff;
    }
}
.btn{
    background:var(--ion-color-secondary);
    color:var(--ion-color-primary-contrast);
    :hover{
        background:var(--ion-color-secondary-contrast);
        color:var(--ion-color-secondary);
    }
}

p {
    font-size: 16px;
    color: #aaa;
    line-height: 2;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}