ion-content {
    --offset-top: 0px;
    --offset-bottom: 0px;
    --padding-top: calc(50vh - 160px);
}
ion-card{
    box-shadow: 2px 2px 15px #000;
    background-color: #151515;
    ion-card-header{
        background-color: inherit;
    }
}

ion-icon{
    font-size:100px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #222;
}