<ion-header>
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-back-button defaultHref="home"></ion-back-button>
</ion-buttons>    
<ion-title>{{data.user_id}}-{{data.user?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="talent-profile">
    <div class="cover"></div>
    <img class="photo" [src]="data.user?.photo.md"/>
    <div class="details">
      <h2 class="text-center">{{data.user?.name}}</h2>
      <h4 class="text-center"><a>{{data.category?.title}}</a></h4>
      <p  class="text-center"><span class="city badge text-center">{{data.country?.name}}</span> / {{data.age|number:'2.0-0'}} year</p>
      <hr/>
     </div> 
      <p>{{data.talent_des}}</p>
      <video width="100%" *ngIf="data.user?.talent_file!=null"  controls="controls" controlsList="nodownload" preload="metadata" poster="assets/icon/favicon.png" webkit-playsinline="webkit-playsinline" class="videoPlayer">
        <source [src]="video" type="video/mp4">
        <source [src]="video" type="video/ogg">
        Your browser does not support HTML5 video.
    </video>
    
  </div>
</ion-content>
