/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "theme/css/font-awesome.min.css";
@import "theme/bootstrap.min.scss";
// @import "theme/bootstrap-theme.min.scss";
@import "theme/theme.scss";


ion-content{
    //--background-color:var(--ion-color-tertiary);
    --background:#000000c7 ;//url('/assets/images/featured-slider-02.jpg') no-repeat center / auto 100% fixed;
}
ion-toolbar{
    --background:var(--ion-color-primary);
    --color:var(--ion-color-secondary)
}
ion-button{
    --background:var(--ion-color-secondary);
    --color:var(--ion-color-primary-contrast);
    :hover{
        --background:var(--ion-color-secondary-contrast);
        --color:var(--ion-color-secondary)
    }
}
ion-tab-bar{
    --background:var(--ion-color-primary);
    --color:var(--ion-color-secondary)
}
ion-list{
    ion-header{
        --background:var(--ion-color-primary);
    }
    ion-item{
        --background:var(--ion-color-primary);

    }
}

ion-slides.homeslider{
    width: 100%;
    height: 180px;
    ion-slide{
        background-size:100% 100%; 
        background-repeat: no-repeat;
    }
}
ion-fab{
    position: fixed;
    bottom: 50px;
    ion-fab-list{
        ion-fab-button{
            --background:var(--ion-color-tertiary);
            --color:var(--ion-color-secondary);
        }
    }
    ion-fab-button{
        --background:var(--ion-color-secondary);
        //--color:var(--ion-color-primary-contrast);
    }
}
ion-card-content{
    text-align: left;
}
ion-card,ion-card-header ,ion-card-content {
    --background: #424040 !important;
    --color:#fff !important;
}
ion-item {
    --background: unset !important;
}
ion-card-header *{
    --color:#fff !important;
}
ion-textarea{
    --height: 100px;
    --background:var(--ion-color-primary) !important;
}

hr{
    background: var(--ion-color-secondary);
    width: 50%;
    height: 3px;
    border-top:unset !important;
}
h2{
    color:#fff;
    font-weight: bold;
    text-shadow: 0px 0px 20px #1a1717;
}
h4{
    text-align: center;
}
.form-control {
    background:#0008;
    border: 1px solid#555;
}

.tab-selected {
    background: #222;
    color:#d039ee;//#ff0078;
}
p{
    padding-left:10px;
    padding-right:10px;
}
iframe{
    width: 100%;
    min-height: 300px;
}
// html:not([data-scroll='0']) {
//     .talent-profile{
   
//         .cover{
//             display: none;
//         }
//         .photo{
//             width: 50px;
//             height: 50px;
//             left: 10;
//             top: 10;
//             right: unset;
//             margin: 20px ;
//         }
//         .details{
//             top:0px;
//             margin-top:0px;
//         }
//     }
// }

.talent-profile{
  
    .cover{

        background: url('assets/images/profile-cover.jpg') center/100%;

        height: 200px;
        
        width: 100%;
        
        border-bottom: 3px solid var(--ion-color-secondary);
        
        box-shadow: 0px 9px 30px#000;
        
        position: fixed;
        
        top: 50px;
        z-index: 9999;
    }

    .photo{
        
        width: 180px;

        height: 180px;        
        border-radius: 50%;
        
        border: 3px solid var(--ion-color-secondary);
        
        position: fixed;
        
        left: 0;
        
        right: 0px;
        
        margin: -110px auto 0px auto;
        
        box-shadow: 0px 9px 30px#000;
        
        top: 250px;
        z-index: 9999;
    }
    
    .details{
        margin-top: 290px;
        overflow-x: scroll;
    }
    .status-card{
        border: 2px solid var(--ion-color-secondary);
        border-style: dashed;
        border-radius: 40px;
        box-shadow: 2px 2px 15px#ddd;
        background:#fff;
        i{
            font-size: 8rem;
            color:var(--ion-color-secondary);
            text-shadow: 1px 0px 2px #fff;
        }
    }
    .buttons-area {
        background: var(--ion-color-secondary);
        overflow: hidden;
        height: 40px;
        position: fixed;
        left: 0;
        right: 0;
        margin-top: -90px;
        z-index: 9999;
    }
    .edit-image {
        z-index: 9999;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        left: 0;
        right: 0;
        margin-top: -50px;
        border-radius: 30px;
        border-radius: 30px;
        border: 1px solid var(--ion-color-secondary);
        color: var(--ion-color-secondary);
        background:#ffffffd6;
        font-size: 30px;
        padding: 5px;
    }

    // .buttons-area a {
    //     color: #fff;
    //     font-size: 5px;
    // }
}

.logo{
    max-width: 230px;
    max-height: 150px;
    margin: auto;
    display: block;
}

// .tap-selected{
//     background:var(--ion-color-secondary);
//     ion-lable,ion-icon{
//         color:var(--ion-color-tertiary);
//     }
// }