 
#slider{
    position: relative;
    height: 180px;
}

.owl-nav {
    height: 0px; 
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    z-index: 999999;
}
 
// .owl-next {
//     float: right;
// }
// *[dir=rtl] .owl-next{
//     float: left;
// }
.contests{
    .name{
        color:#eee
    }
    .age{
        color:var(--ion-color-secondary);
    }
    .city{
        color:#eee;
    }
    .talend{
        position: absolute;
        background: var(--ion-color-secondary);
        padding: 4px 10px;
        left: 0;
        color: var(--ion-color-primary-contrast);
        border-radius: 0px 15px 15px 0px;
    }


        overflow: hidden;
        background: var(--ion-color-dark-tint);
        padding: 10px 0px;
        border: 1px solid var(--ion-color-secondary);
        border-radius: 10px;
    
    
}

