<ion-header>
  <ion-toolbar>
    <ion-title>{{"Enta Elnagm"|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-refresher slot="fixed" (ionRefresh)="ngOnInit($event)">
        <ion-refresher-content
          color="light"
          pullingIcon="arrow-dropdown"
          pullingText="{{'Pull to refresh'|translate}}"
          refreshingSpinner="circles"
          refreshingText="{{'Refreshing'|translate}}...">
        </ion-refresher-content>
      </ion-refresher>
  <div id="slider">
    <ion-slides pager="true" options="slideOpts"  class="homeslider">
      <ion-slide *ngFor="let slide of slides" [ngStyle]="{'background-image':'url('+slide.image.md+')'}">
        <h2>{{slide.title}}</h2>
      </ion-slide>
    </ion-slides>
    <div class="owl-nav">

      <ion-button type="submit" class="owl-next" [class.pull-right]="!shared.isRTL" [class.pull-left]="shared.isRTL" (click)="next()"><ion-icon name="arrow-forward"></ion-icon></ion-button>
      <ion-button type="submit" class="owl-prev" [class.pull-right]="shared.isRTL" [class.pull-left]="!shared.isRTL" (click)="prev()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </div>
  </div>
       <ion-card>
         <ion-card-header>
           <ion-card-subtitle>                    
             <h2 class="text-center"><a>{{about.title}}</a></h2>
            <hr/>
          </ion-card-subtitle>
         </ion-card-header>
          <ion-card-content>
              <div class="row">               
                  <div class="col col-xs-12">
                    <p [innerHTML]="about.description"></p>
                  </div> 
                  <div class="col col-xs-12 text-center">
                      <a routerLink="/register" class="btn">{{"Register Now"|translate}}</a>
                  </div> 
                </div>
        </ion-card-content>
      </ion-card>
     
           <ion-card *ngFor="let cont of contests" routerLink="/talent-profile/{{cont.user_id}}">
            <ion-card-content>
               <div class="row" class="contests">
                  <div class="col col-xs-3">
                      <span class="talend">{{cont.category.title}}</span>
                      <img [src]="cont.user.photo.md" class="img-circle" />
                  </div>
                    <div class="col col-xs-9 text-left">
                     <h2 class="name">{{cont.user.name}} </h2>
                     <span class="age">{{cont.age|number:'1.0-0'}} Year</span><br/>
                     <span class="city badge">{{cont.city.name}}</span>
                    </div>
               </div>
             </ion-card-content>
          </ion-card>

    

<ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button >
      <ion-icon name="call" style="color:#fff;font-size: 1.9em"></ion-icon>
    </ion-fab-button>
  
    <ion-fab-list side="top">
      <ion-fab-button (click)="openExternal('https://wa.me/'+whatsapp);">
        <ion-icon name="logo-whatsapp" ></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openExternal('tel://'+phone);">
        <ion-icon name="call" ></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  
  </ion-fab>

 
</ion-content>
