 
#slider{
    position: relative;
    height: 180px;
}

.owl-nav {
    height: 0px; 
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    z-index: 999999;
}
ion-slide h2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background:#00000061;
    width: 100%;
    margin: auto;
    text-align: center;
    padding:10px ;
    }
 
// .owl-next {
//     float: right;
// }
// *[dir=rtl] .owl-next{
//     float: left;
// }
.contests{
    .name{
        color:#eee
    }
    .age{
        color:var(--ion-color-secondary);
    }
    .city{
        color:#eee;
    }
    .talend{
        position: absolute;
        background: var(--ion-color-secondary);
        padding: 4px 10px;
        left: 0;
        color: var(--ion-color-primary-contrast);
        border-radius: 0px 15px 15px 0px;
    }


        overflow: hidden;
        background: var(--ion-color-dark-tint);
        padding: 10px 0px;
        border: 1px solid var(--ion-color-secondary);
        border-radius: 10px;
    
    
}

.social-icon{
    padding: 5px;

    color:
    white;
    
    margin: 5px;
    
    border: 1px solid
    #af70f2;
    
    background-color: var(--ion-color-secondary);
    
    border-radius: 40px;
    
    font-size: 2.5rem;
    
    width: 50px;
    
    height: 50px;
    
    display: inline-block;
    
    box-shadow: 0px 0px 10px
    #000;
}